<?xml version="1.0" encoding="utf-8"?>
<Abc>
    <ConnectionProperties>
        <DatabaseName>abc</DatabaseName>
        <UserName>root</UserName>
        <Password></Password>
        <Server>localhost</Server>
    </ConnectionProperties>
    <Configurations>
        <ConfigPath>config</ConfigPath>
        <Salt>
            <Login>estefania</Login>
            <Request>zxcv</Request>
        </Salt>
    </Configurations>
    <Table Name="categoria">
        <Disable>id</Disable>
        <HideReg>3</HideReg>
        <ShowId>false</ShowId>
        <ShowNew>true</ShowNew>
        <ShowEdit>true</ShowEdit>
        <ShowDelete>false</ShowDelete>
        <Headers>nombre-Nombre</Headers>
    </Table>
    <Table Name="cliente">
        <Disable>id</Disable>
        <Headers>idCategoria-Categoria</Headers>
        <ForeignKeys>idCategoria-nombre</ForeignKeys>
        <Options Campo="genero">0-masculino,1-femenino</Options>
    </Table>
</Abc>